

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    overflow: hidden
}

body {
    margin: 0;
    background-color: #CAD3C8;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    
}

.container {
    font-family: Cabin;
}

a {
    font-family: Cabin;
    text-decoration: none;
    color: #e8f0e6;
    margin-right: 8px;
}

i .social {
    font-size:30px;
}

.anchors {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.on-open {
    height: 100vh;
    width: 100vw;
    
    justify-content: center;
    background-color: #2C3A47;
    color: #e8f0e6;
    font-size: 45px;
    position: absolute;
    z-index: 2;
}

.open-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.continue {
    background-color: #2C3A47;
    color: #e8f0e6;
    border: 0.3vw solid #e8f0e6;
    border-radius: 0.3vw;
    margin-top: 20px;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Cabin;
    transition: background-color 0.15s;
}

.continue:hover {
    cursor: pointer;
    background-color: #242b31;
}

#section2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #2C3A47;
    color: #e8f0e6;
    padding: 25px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 25px;
    height: 100%;
    color: #2C3A47;
    font-size: 28px;
}

.intro {
    background-color: #e8f0e6;
    padding: 20px;
    border-radius: 0.5px;
    display: flex;
    box-shadow: 0 0 5px #182C61;
}

.social-button {
    border: none;
    color: #e8f0e6;
    background-color: #2C3A47;
}

.special {
    font-family: Dosis;
    font-size: 40px;
    color:#242b31;
}

.special-text {
    font-size: 28px;
    white-space: nowrap;
    width: 0px;
}

.typed-cursor {
    margin-bottom: 100px;
}

.pfp {
    width: 200px;
    border-radius: 175px;
    box-shadow: 0 0 3px #242b31;
}

.intro-img {
    margin-left: auto;
    margin-right: 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote {
    padding: 10px;
    color: #e8f0e6;
    background-color: #2C3A47;
    border-radius: 5px;
}

.timeline {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    border-left: #e8f0e6 solid 8px;
    padding-left: 60px;
    justify-content: center;
    align-items: left;
    position: relative;
    padding-bottom: 30px;
}

.event::before {
    content: "";
    border-radius: 50%;
    height: 20px; /* Changed */
    width: 20px; /* Changed */
    background-color: #e8f0e6;
    border: #2C3A47 solid 5px;
    position: absolute; /* Added */
    left: -17.75px; /* Added */
}

.event-details {
    display: flex;
}
.event-connect {
    width: 15px;
    height: 5vh;
    background-color: #e8f0e6;
    margin-left: 43px;
    box-shadow: 1px 1px 2.3px #242b31;
}



/* .event-info {
    margin-left: 50px;
    border-left: #e8f0e6 solid 8px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
} */

.event-header {
    font-size: 32px;
    font-weight: bold;
    color: #242b31;
    margin-bottom: 10px;
}

.event-desc {
    font-size: 25px;
    text-decoration: overline;
}

.timeline-head {
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 12px;
    margin-left: 5px;
}

.event-margin {
    margin-bottom: 12px;
}


@media (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="col-"] {
      width: 100%;
    } */
    body {
        width: 100vw;
    }
    p {
        font-size: 20px;
    }
    .hero {
        font-size: 16px;
    }
    .pfp {
        width: 65px;
    }
    .special-text, .special {
        font-size: 20px;
    }
    .intro, .quote {
        padding: 7px;
    }
    .quote {
        margin-top: 15px;
        font-size: 15px;
        width: 177px;
    }
    .event-info {
        margin-left: 5px;
        max-width: 240px;
    }
    .event-time {
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        display: block;
    }
    .event-time-text {
        font-size: 16px;
    }
    .event-header {
        font-size: 20px;
        margin-bottom: 3px;
    }
    .event-desc {
        font-size: 14px;
        text-decoration: none;
    }
    .event {
        margin-left: 15px;
        padding-left: 30px;
    }
    .timeline-head {
        font-size: 25px;
    }
    /* i.social {
        font-size:10px;
    } */
  }


